[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "simhelpers"]
	path = simhelpers
	url = https://github.com/meghapsimatrix/simhelpers
[submodule "wildmeta"]
	path = wildmeta
	url = https://github.com/meghapsimatrix/wildmeta
